html,
body {
    margin: 0px;
}
.wrapper {
    margin: 0 auto;
    /*min-width: 990px;*/
    /*max-width: 990px;*/
    min-width: 728px;
    max-width: 728px;
    width: 100%;
    /*height: 250px;*/
    height: 90px;
    background-color: #2194E0;
    position: relative;
    overflow: hidden;
    float: left;
    border: 1px solid #000;
    box-sizing: border-box;
    margin: 15px;
}
.animation {
    width: 70%;
    /*height: 250px;*/
    height: 90px;
    position: relative;
    float: left;
    overflow: hidden;
}
.slide1{
    display: block;
}
.slide2{
    display: none;
}
.static {
    position: relative;
    width: 30%;
    float: left;
    height: 250px;
}
.first_bg {
    position: absolute;
    /*width: 150%;*/
    width: 160%;
    height: 100%;
    left: -300px;
    top: 0;
    z-index: 1;
}
.first_auto {
    position: absolute;
    /*width: 100%;*/
    left: 0;
    bottom: 0;
    z-index: 10;
}
.logotip {
    /*width: 200px;*/
    width: 92px;
    /*margin: 70px auto 0;*/
    margin: 5px auto 0;
    display: block;
}
.info {
    width: 100%;
    /*padding: 30px 0;*/
    padding: 5px 0 0;
    display: block;
    text-align: center;
    /*font-size: 16px;*/
    font-size: 12px;
    color: #ccc;
    cursor: pointer;
    text-decoration: underline;
}
.steering_wheel {
    /*position: absolute;*/
    /*left: 336px;*/
   /*/!* bottom: -92px;*!/*/
    /*bottom: -25px;*/
    /*z-index: 20;*/
    position: absolute;
    left: 246px;
    /* bottom: -92px; */
    bottom: -105px;
    width: 185px;
    z-index: 20;
}
.hand_left_1 {
    position: absolute;
    /*left: 325px;*/
    left: 215px;
    bottom: -45px;
    /*bottom: -6px;*/
    z-index: 30;
    /*display: none;*/
    width: 80px;
}
.hand_left_2 {
    /*left: 312px;*/
    /*bottom: -20px;*/
    position: absolute;
    left: 202px;
    bottom: -45px;
    z-index: 30;
    display: none;
}
.hand_left_1_r {
    position: absolute;
    /*left: 457px;*/
    /*bottom: -6px;*/
    left: 386px;
    bottom: -45px;
    z-index: 30;
    /*display: none;*/
    width: 80px;
}
.hand_left_2_r {
    position: absolute;
    /*left: 467px;*/
    /*bottom: -20px;*/
    left: 385px;
    bottom: -45px;
    z-index: 30;
    display: none;
}
button {
    display: block;
    padding: 10px;
    margin: auto;
    cursor: pointer;
}
.newff{
    position: absolute;
    left: 20px;
    z-index: 30;
}
.tetx1 {
    /*top: 20px;*/
    top: 10px;
    width: 165px;

}
.tetx2 {
    /*top: 60px;*/
    top: 40px;
    width: 165px;
}
.tetx3 {
    /*top: 90px;*/
    top: 65px;
    width: 165px;
}
.tetx13 {
    /*top: 60px;*/
    top: 35px;
    width: 165px;
}
.tetx14 {
    top: 60px;
}
.tetx15 {
    top: 60px;
}
.tetx16 {
    top: 60px;
}
.arrow {
    top: 63px;
    left: -10px;
    display: none;
}
.two_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
}
.moto {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 30;
    /*width: 180px;*/
    width: 105px;
}
.autos{
    position: absolute;
    left: 164px;
    bottom: -39px;
    z-index: 10;
}
.two_auto {
    width: 220px;
}
.wheels {
    position: absolute;
    z-index: -1;
}
#wheels_1 {
    /*left: 100px;*/
    /*bottom: 17px;*/
    /*width: 36px;*/
    left: 82px;
    bottom: 17px;
    width: 29px;

}
#wheels_2 {
 /*right: 14px;*/
  /*bottom: 32px;*/
  /*width: 30px;*/
    right: 10px;
    bottom: 26px;
    width: 25px;
}
.wheel-rull {
    position: absolute;
    width: 100px;
    height: 100px;
    display: none;
    z-index: 40;
    /*left: 424px;*/
    left: 330px;
    /*top: 130px;*/
    top: 0;
}
.tick {
    position: absolute;
    display: block;
}
.tick.small {
    height: 25px;
}
#tick2 {
    left: 21px;
    top: 8px;
    display: none;
}
#tick3 {
    left: 33px;
    top: 10px;
    display: none;
}
#tick4 {
    left: 44px;
    top: 14px;
    display: none;
}
#tick5 {
    left: 49px;
    top: 12px;
    display: none;
}
#tick6 {
    left: 65px;
    top: 27px;
    display: none;
}
#tick7 {
    left: 72px;
    top: 34px;
    display: none;
}
#tick8 {
    left: 78px;
    top: 43px;
    display: none;
}
#tick9 {
    left: 80px;
    top: 44px;
    display: none;
}
#tick10 {
    left: 89px;
    top: 62px;
    display: none;
}
#tick11 {
    left: 92px;
    top: 71px;
    display: none;
}
#tick12 {
    left: 94px;
    top: 80px;
    display: none;
}
#tick13 {
    left: 94px;
    top: 84px;
    display: none;
}
.popupInfo {
    display: none;
}
.popupInfo.open {
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0, 21, 255,0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
    color: #fff;
    font-size: 12px;
    line-height: 1.2;
    padding: 15px;
    box-sizing: border-box;
}